body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Less NameError: .pull-right is undefined in C:\\Users\\vlad\\Desktop\\softComun\\public\\css\\less\\style.less:9:2 \A 8 	{ \A 9 		.pull-right; \A 10 	} \A  \A '; }

  body * {
  	display: none;
  }
