{% block content %}
<ul id="cuprins">
	<br>
	<a href="/part1"><li><button class="btn btn-large">Part 1</button></li></a>
	<a href="/part2"><li><a href="practice.html"><button class="btn btn-large">Part 2</button></li></a>
	<a href="/sources"><li><button class="btn btn-large">Sources</button></li></a>
	<br><br>
</ul>
<div class="row-fluid">  
	<img class="span4" src="public/img/eulogo.png">
	<img class="span2" src="public/img/cnlogo.png" style="height:10%;width:10%">
	<img class="span2" src="public/img/cologo.png">
	<div class="span4"> <p> "This project has been funded with support from the European Commission. This publication [communication] reflects the views only of the author, and the Commission cannot be held responsible for any use which may be made of the information contained therein."</p> </div>
</div>
{% endblock %}
